.idea/*

Source/bin
Source/obj

Test/bin
Test/obj

TestVectors/bin
TestVectors/obj
TestVectorLib/bin
TestVectorLib/obj
TestVectorGenerator/bin
TestVectorGenerator/obj

Examples/bin
Examples/obj

Test/TestResults/
