# Ignore Gradle project-spefic cache dir
.gradle

# Ignore Gradle build output directory
build

# JetBranins
.idea/*
*.iml

# Mac OS X
.DS_Store

# Dafny Generated Java
src/main/dafny-generated/
src/test/dafny-generated/
