# JetBrains
.idea/*
*.iml

# Dafny Compile Temp
temp
temp-tests

# Maven
target

# Mac OS X
.DS_Store

# Gradle
/.gradle/
/build/
/target/

# Dafny Generated Java
src/main/dafny-generated/
src/test/dafny-generated/
